@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rethink Sans', sans-serif;
  @apply bg-[#F9FAFB] text-slate-900;
}